

// base
.flip {
    
    position: relative;
    >.front,
    >.back {
      
        display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .5s;
        transition-property: transform, opacity;
    }
    >.front {
        transform: rotateY(0deg);
        
    }
    >.back {
        width: auto;
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transform: rotateY(-180deg);
    }
    &:hover {
        >.front {
            transform: rotateY(180deg);
        }
        >.back {
            opacity: 1;
            transform: rotateY(0deg);
        }
    }
    &.flip-vertical {
        >.back {
            transform: rotateX(-100deg);
        }
        &:hover {
            >.front {
                transform: rotateX(100deg);
            }
            >.back {
                transform: rotateX(0deg);
            }
        }
    }

}

// custom
.flip {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    width: 280px;
    >.front,
    >.back {
      display: block;
      color: black;
      width: 250px;     
      height: 250px;
      padding: 5px;
      background: white;
  

      
      img{
        width: 100%;
        height: 250px;
        padding:25px;
        margin: 0;

      }
      p {
        font-size: 15px;
        line-height: 160%;
        color: #090909;
        
      }
    }
}

#nuestros-trabajos{
width: 100%;
height: auto;
margin: 0.1 0 0 0;
padding: 0;
text-align: center;
background-color: #FFF;
}

