<ion-content> 
  <div id="wrap">
  <ion-header>
    <header>
      <div class="logo"> <img src="../../../assets/img/logo-con-letras.png"></div>
      <div class="navig">
        <ul class="">
          <li><a routerLink="/home">Inicio</a></li>
          <li><a routerLink="/quienes-somos">Quiénes somos</a></li>
          <li><a routerLink="/nuestros-trabajos">Nuestro trabajos</a></li>
          <li><a routerLink="/catalogo">Catálogo</a></li>
          <li><a routerLink="/registro">Registrate</a></li>
          <li><a routerLink="/iniciar-sesion">Ingresar</a></li>
        </ul>
      </div>
      <div class="haztucotizacion" routerLink="/catalogo"><a>Haz tú cotización</a></div>
  
     <div class="menu-responsive">
     </div>
  
  </header>
  </ion-header>

  <div id="nuestros-trabajos">
    <h1>Nuestros Trabajos</h1>


<div class="flip flip-vertical">
    <div class="front"><img src="../../../assets/img/ventana-aluminio.png"> </div>
    <div class="back">
       <h2>Ventana Aluminio</h2>
       <p>Topes estanco en corredera para mejor hermeticidad.Cierre lateral izquierdo embutido y manillón en hoja derecha con sistema anticierre.</p>
    </div>
</div>
<div class="flip flip-vertical">
    <div class="front"><img src="../../../assets/img/ventanita.jpg"></div>
    <div class="back">
      <h2>Ventana PVC</h2>
       <p>Corredera de dos hojas móviles con manilla metálica en la hoja derecha. Rodamientos y quincallería europeos que aseguran una excelente calidad.</p>
    </div>
</div>
<div class="flip flip-vertical">
    <div class="front" > <img src="../../../assets/img/ventana-termo.jpg" alt=""> </div>
    <div class="back">
       <h2>Ventana Termopanel</h2>
       <p>Disminuye el paso del calor y el ruido a través de una superficie vidriada. La cámara hermética de aire seco y quieto producida entre ambos cristales es la que otorga la gran capacidad aislante al Cristal Termopanel.</p>
    </div>
</div>

<div class="flip flip-vertical">
  <div class="front"><img src="../../../assets/img/ventana-aluminio.png"> </div>
  <div class="back">
     <h2>Ventana Aluminio</h2>
     <p>Topes estanco en corredera para mejor hermeticidad.Cierre lateral izquierdo embutido y manillón en hoja derecha con sistema anticierre.</p>
  </div>
</div>
<div class="flip flip-vertical">
  <div class="front"><img src="../../../assets/img/ventanita.jpg"></div>
  <div class="back">
    <h2>Ventana PVC</h2>
     <p>Corredera de dos hojas móviles con manilla metálica en la hoja derecha. Rodamientos y quincallería europeos que aseguran una excelente calidad.</p>
  </div>
</div>
<div class="flip flip-vertical">
  <div class="front" > <img src="../../../assets/img/ventana-termo.jpg" alt=""> </div>
  <div class="back">
     <h2>Ventana Termopanel</h2>
     <p>Disminuye el paso del calor y el ruido a través de una superficie vidriada. La cámara hermética de aire seco y quieto producida entre ambos cristales es la que otorga la gran capacidad aislante al Cristal Termopanel.</p>
  </div>
</div>
<div class="flip flip-vertical">
  <div class="front" > <img src="../../../assets/img/ventana-termo.jpg" alt="" > </div>
  <div class="back">
     <h2>Ventana Termopanel</h2>
     <p>Disminuye el paso del calor y el ruido a través de una superficie vidriada. La cámara hermética de aire seco y quieto producida entre ambos cristales es la que otorga la gran capacidad aislante al Cristal Termopanel.</p>
  </div>
</div>
<div class="flip flip-vertical">
  <div class="front" > <img src="../../../assets/img/ventana-termo.jpg" alt=""> </div>
  <div class="back">
     <h2>Ventana Termopanel</h2>
     <p>Disminuye el paso del calor y el ruido a través de una superficie vidriada. La cámara hermética de aire seco y quieto producida entre ambos cristales es la que otorga la gran capacidad aislante al Cristal Termopanel.</p>
  </div>
</div>


   </div><!--------cierre nuestros trabajos-->  
     
   <footer>

    <div class="footer-izq">
  
      <img src="../../../assets/img/logo-footer.png">
      <div class="parrafo-footer" ><p>Con 2 años de experiencia fabricando ventanas de la mejor calidad.</p></div>
      <div class="faq" ><img src="../../../assets/img/faq.png"><a routerLink="/preguntas-frecuentes">Preguntas Frecuentes</a></div>
  
    </div>
    <div class="v-line"></div>
  
    <div class="footer-der">
      <h4>Contáctanos</h4>
      <ul>
        <li><img src="../../../assets/img/whatsapp.png">+56 965789532</li>
        <li><img src="../../../assets/img/correo.png"> <a class="btn-mail" routerLink="/contacto">Contáctanos</a></li>
      </ul>
    </div>
    <div class="footer-centro"><p>Derechos Reservados Ventanas Técnicas 2023 ©</p></div>
   </footer> 
   </div><!-------CIERRE WRAP----->
  
  </ion-content>



  