
.preguntas-frecuentes {
	position: relative;
	width: 100%;
	z-index: 89;
  margin-top: -4%;
	}

.preguntas-frecuentes-contenedor {
  margin: 0 auto;
	padding: 0rem 1.25rem 6rem;
	position: relative;
	overflow: hidden;
	width: 80%;
	max-width: 106.25rem;
  color: #fff;
}

.preguntas {
  margin: 0 auto;
  list-style: none outside;
}

.pregunta-input {
  clip: rect(0 0 0 0);
  margin: -1;
  overflow: hidden;
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
}

.pregunta {
  background: #209b9e;	
	border-radius: 8px;
  cursor: pointer;
  display: block;
	font-size: 1.1875rem;
	letter-spacing: -.0225rem;
	line-height: 1.36842;
	margin-bottom: 16px;
	padding: 20px 10px;
  position: relative;
	transition: all 0.35s ease;
}

.pregunta:hover {
  background: #209b9e;
	color: #fff;
	cursor: pointer;
}

.pregunta::before {
  color: #ffffff;
  content: "\276f";
	font-size: 18px;
	float: left;
	line-height: 30px;
	margin: 0 15px 0 5px;
	transition: all 0.15s ease;
}

.pregunta:hover::before {
  color: #fff;
  opacity: 0.80;
  transform: rotate(90deg);
}

.pregunta-input:checked ~ .pregunta {
  background: #209b9e;
	color: #fff;
}

.pregunta-input:checked ~ .pregunta::before {
  transform: rotate(-90deg);
}

.pregunta-input:checked ~ .pregunta::after {
  content: "\2715";
	float: right;
	font-size: 11px;
	line-height: 30px;
}

.pregunta-input:checked ~ .pregunta:hover {
  background:#27bbbe;
	color: #fff;
}

.pregunta-input:checked ~ .pregunta:hover::before {
  opacity: 1;
}

.pregunta-input:checked ~ .respuesta {
  max-height: 1000px;
  padding-top: 15px;
  margin-bottom: 15px;
  transition: max-height 1s ease-in, margin .3s ease-in, padding .3s ease-in;
}

.respuesta {
  background: #fff;
  border-radius: 11px;
  line-height: 1.8em;
  margin-bottom: 25px;
  margin-top: -17px;
  max-height: 0;
  overflow: hidden;
  color: #000;
}

.respuesta p {
  margin: 0;
  padding: 25px 25px;
}

.respuesta-enlace-dotted {
  border-bottom: 1px dotted #000;
}


@media (min-width: 400px) {
  .preguntas-frecuentes-encabezado {
    font-size: 1.59rem;
  }
}
	
@media (min-width: 768px) {
  .preguntas-frecuentes-encabezado {
    font-size: 1.7rem;
  }
  .preguntas {
    padding-top: 5.21rem;
  }
  .pregunta {
    font-size: 1.3125rem;
    letter-spacing: -.01875rem;
    line-height: 1.33333;
    padding: 20px;
  }
  .respuesta p {
    font-size: 1.21rem;
    letter-spacing: 0.021rem;
    line-height: 2.1;
    padding: 25px 50px;
  }

}

@media (min-width: 1000px) {
  .preguntas-frecuentes-encabezado {
    font-size: 2.35rem;
  }
}
