<ion-content> 
  <div id="wrap">
<ion-header>
  <header>
    <div class="logo"> <img src="../../../assets/img/logo-con-letras.png"></div>
    <div class="navig">
      <ul class="">
        <li><a routerLink="/home">Inicio</a></li>
        <li><a routerLink="/quienes-somos">Quiénes somos</a></li>
        <li><a routerLink="/nuestros-trabajos">Nuestro trabajos</a></li>
        <li><a routerLink="/catalogo">Catálogo</a></li>
        <li><a routerLink="/registro">Registrate</a></li>
        <li><a routerLink="/iniciar-sesion">Ingresar</a></li>
      </ul>
    </div>
    <div class="haztucotizacion" routerLink="/catalogo"><a>Haz tú cotización</a></div>

   <div class="menu-responsive">
   </div>

</header>
</ion-header>
  
  
    <div id="quienes-somos-index">

      <h2>Quiénes Somos </h2>
      <p>Ventanas Técnicas ha estado en el mercado durante dos años y se dedica a la fabricación 
        de ventanas personalizadas para satisfacer las necesidades de cada cliente. Nuestra empresa 
        utiliza materiales de alta calidad para garantizar la durabilidad de las ventanas y su 
        eficiencia energética. Además, cuentan con un equipo de profesionales altamente capacitados 
        para brindar un servicio personalizado y adaptado a las necesidades de cada cliente. 
        Ventanas Técnicas se enorgullece de ofrecer un servicio excepcional y de superar las 
        expectativas de los clientes.
        <a href="">Ver Más ...</a></p>
   
  </div><!----Cierre quienes somos-->
  
  <div id="como-cotizar">
    <section >
        <h2>Cómo cotizar</h2>
      <ul class="iconos-contenido">
          <li>
            <a href=""><img src="../../../assets/img/registrate.png"></a>
  
              <p>Regístrate e ingresa tus datos</p>
          </li>
          <li>
            <a href=""><img src="../../../assets/img/rellena-datos.png"></a>
  
              <p>Rellena los datos en nuestra calculadora</p>
          </li>
          <li>
            <a href=""><img src="../../../assets/img/click.png"></a>
  
              <p>Presiona botón enviar cotización </p>
          </li>
          <li>
            <a href=""><img src="../../../assets/img/correoe.png"></a>
  
              <p>Espera la respuesta de Ventanas Técnicas</p>
          </li>
      </ul>
  </section>
  
  </div><!----cierre como cotizar----------->


  
  <footer>

    <div class="footer-izq">
  
      <img src="../../../assets/img/logo-footer.png">
      <div class="parrafo-footer" ><p>Con 2 años de experiencia fabricando ventanas de la mejor calidad.</p></div>
      <div class="faq" ><img src="../../../assets/img/faq.png"><a routerLink="/preguntas-frecuentes">Preguntas Frecuentes</a></div>
  
    </div>
    <div class="v-line"></div>
  
    <div class="footer-der">
      <h4>Contáctanos</h4>
      <ul>
        <li><img src="../../../assets/img/whatsapp.png">+56 965789532</li>
        <li><img src="../../../assets/img/correo.png"> <a class="btn-mail" routerLink="/contacto">Contáctanos</a></li>
      </ul>
    </div>
    <div class="footer-centro"><p>Derechos Reservados Ventanas Técnicas 2023 ©</p></div>
   </footer> 
  </div><!--------CIERRE WRAP------>
</ion-content>
