
<ion-content> 
	<div id="wrap">
  <ion-header>
    <header>
      <div class="logo"> <img src="../../../assets/img/logo-con-letras.png"></div>
      <div class="navig">
        <ul class="">
          <li><a href=”home.page.html”>Inicio</a></li>
          <li><a href=”#”>Quiénes somos</a></li>
          <li><a href=”#”>Nuestro trabajos</a></li>
          <li><a href=”#”>Catálogo</a></li>
          <li><a href=”#”>Registrate</a></li>
          <li><a href=”#”>Ingresar</a></li>
        </ul>
      </div>
      <div class="haztucotizacion"><a href="">Haz tú cotización</a></div>
  
     <div class="menu-responsive">
     </div>
  
  </header>
  </ion-header>

  <div class="detalle-cotizacion">
    <h1>Detalle Cotización</h1>

	<table>
		<thead>
			<tr>
				<th>Nombre Ventana</th>
				<th>Tamaño de la ventana</th>
				<th>Tipo de material</th>
				<th>Tipo de vidrio</th>
				<th>Cantidad de ventanas</th>
				<th>Incluye instalación</th>
				<th>Precio</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Ventana Corredera</td>
				<td>1.20m x 1.20m</td>
				<td>Aluminio</td>
				<td>Vidrio templado</td>
				<td>2</td>
				<td>Sí</td>
				<td>$ 5000</td>
			</tr>
			<tr>
				<td>Ventana Proyectante</td>
				<td>0.80m x 1.50m</td>
				<td>PVC</td>
				<td>Vidrio doble</td>
				<td>3</td>
				<td>No</td>
				<td>$ 8000</td>
			</tr>
			<tr>
				<td>Ventana Monolitica</td>
				<td>2.00m x 1.20m</td>
				<td>Madera</td>
				<td>Vidrio laminado</td>
				<td>1</td>
				<td>Sí</td>
				<td>$ 6000</td>
			</tr>
      <tr>
				<td></td>
				<td colspan="5" style="text-align: right">Total:</td>
				<td>$ 19000</td>
			</tr>
    
		</tbody>
	</table>
  <button>Descargar PDF</button>

  </div>


  <footer>

    <div class="footer-izq">
  
      <img src="../../../assets/img/logo-footer.png">
      <div class="parrafo-footer" ><p>Con 2 años de experiencia fabricando ventanas de la mejor calidad.</p></div>
      <div class="faq" ><img src="../../../assets/img/faq.png"><a routerLink="/preguntas-frecuentes">Preguntas Frecuentes</a></div>
  
    </div>
    <div class="v-line"></div>
  
    <div class="footer-der">
      <h4>Contáctanos</h4>
      <ul>
        <li><img src="../../../assets/img/whatsapp.png">+56 965789532</li>
        <li><img src="../../../assets/img/correo.png"> <a class="btn-mail" routerLink="/contacto">Contáctanos</a></li>
      </ul>
    </div>
    <div class="footer-centro"><p>Derechos Reservados Ventanas Técnicas 2023 ©</p></div>
   </footer> 
	 </div><!------CIERRE WRAP------>
  </ion-content>
