.detalle-cotizacion{
    height: auto;
    width: 100%;
    padding: 0%;
    margin: 0% 0 2% 0 ;
    padding: 0 10% 4% 10%;
}


table {
	border-collapse: collapse;
	width: 100%;
    
}
th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
    text-align: center;
	
}
th {
	background-color: #209b9e;
	color: white;
	padding: 13px ;
   
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
td:last-child {
	text-align: right;
    
}
button {
	padding: 10px 20px;
	background-color: #096060;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	float: right;
	cursor: pointer;
	margin: 2% 0 3% 0;
}